@{
    ViewBag.Title = "Sell";
}

<div class="jumbotron">
    <h1 class="text-center">Choose what do you want to sell:</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">House</h2>
        <a href="/Sell/Houses">
            <img class="img-responsive" src="http://www.u-nizwa.net/7/2015/06/home-design-environmentally-friendly-houses-with-unique-green-grass-also-big-clear-glass-windows-in-front-of-the-house-environmentally-friendly-houses-garage-design-infront-of-house.jpg" alt="Click here to check the last added houses." />
        </a>
        <p><a class="btn btn-block btn-success text-right" href="/Sell/Houses">Submit a FREE Ad &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Apartment</h2>
        <a href="/Sell/Apartments">
            <img class="img-responsive" src="http://white-pearl.hotelszermatt.net/data/Photos/OriginalPhoto/3507/350701/350701678.JPEG" alt="Click here to check the last added apartments." />
        </a>
        <p><a class="btn btn-block btn-success" href="/Sell/Apartments">Submit a FREE Ad &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Land</h2>
        <a href="/Sell/Lands">
            <img class="img-responsive" src="http://www.papercitymag.com/wp-content/uploads/2016/04/wvv_elton_vineyards_photo_1-932x620.jpg" alt="Click here to check the last added lands." />
        </a>
        <p><a class="btn btn-block btn-success" href="/Sell/Lands">Submit a FREE Ad &raquo;</a></p>
    </div>
</div>