@model IEnumerable<LandsSystem.Models.HouseBuyModel>

@{
    ViewBag.Title = "Houses";
}

<div class="row">
    @foreach (var house in Model)
    {
        <div class="col-sm-6 mt-60">
            <img class="img-responsive" src="@house.HouseImageUrl" />
            <h4>@house.HouseAddress</h4>
            <h4>@house.HousePrice</h4>
            <br />
            <a class="btn btn-block btn-success" href="/Buy/Details/@house.Id">See more info &raquo;</a>
        </div>
    }
</div>