@model IEnumerable<LandsSystem.Models.HomeBuyModel.LandBuyModel>

@{
    ViewBag.Title = "Lands";
}

@foreach (var land in Model)
{
    <div class="row">
        <div class="col-sm-6 mt-60">
            <img src="@land.LandImageUrl" class="img-responsive" />
        </div>
        <div class="col-sm-6 mt-60">
            <p class="text-left breadcrumb">@land.LandAddress</p>
            <p class="text-left breadcrumb">Land Area: @land.Area m&#178;</p>
            <p class="text-left breadcrumb">@land.LandPrice BGN</p>
            <br />
            <a href="/Buy/LandDetails/@land.Id" class="btn btn-success">More Info &raquo;</a>
        </div>
    </div>
}