@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>

<p>We are Real Estate Agency established in 2017. 
    We are team of three ambitios boys and our missions is to make the process of finding/selling property easier.</p>

<div class="row">
    <div class="col-md-4">
        <h2>Denis</h2>
        <a href="https://www.facebook.com/denis.dimitrov.10">
            <img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/10393785_815594641797074_1575250052200522559_n.jpg?oh=d987c77bd12404701243d6d4b5a9da23&oe=597BC537" alt="This is Denis Dimitrov." />
        </a>
        <p><a class="btn btn-default" href="https://www.facebook.com/denis.dimitrov.10">Contact me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nikolai</h2>
        <a href="https://www.facebook.com/profile.php?id=100000641433545">
            <img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/15894664_1340386802659355_6367835613681374665_n.jpg?oh=ede70ede5ae2d8724b5e604b85bd4f3e&oe=59759029" alt="This is Nikolai Georgiev." />
        </a>
        <p><a class="btn btn-default" href="https://www.facebook.com/profile.php?id=100000641433545">Contact me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Marin</h2>
        <a href="https://www.facebook.com/marin.kunovski">
            <img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/10258652_736237583094327_5707517770133240537_n.jpg?oh=5bed42a730696f3ab0008ef0e92bf291&oe=597FB4A9" alt="This is Marin Kunovski." />
        </a>
        <p><a class="btn btn-default" href="https://www.facebook.com/marin.kunovski">Contact me &raquo;</a></p>
    </div>
</div>
