@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>

<address>
    Bulgaria<br />
    Sofia, 1000<br />
    <abbr title="Phone">P:</abbr>
    +359 888 777 666
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5864.873440443571!2d23.324935381444426!3d42.694472758691596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9b39e6fedb37125!2z0KHQvtGE0LjRjyDQpdC-0YLQtdC7INCR0LDQu9C60LDQvQ!5e0!3m2!1sbg!2sbg!4v1493039753540" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@bre.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@bre.com</a>
</address>