@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bulgaria<br />
    Sofia, 1000<br />
    <abbr title="Phone">P:</abbr>
    +359 888 777 666
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@bre.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@bre.com</a>
</address>