@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Balkan Real Estate</h1>
    <p class="lead text-center">Balkan Real Estate is the place where you can find your Dream home or sell your current one.</p>
    <p class="text-center">Check out the last added houses, apartments and lands.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Houses</h2>
        <a href="#">
            <img class="img-responsive" src="http://www.u-nizwa.net/7/2015/06/home-design-environmentally-friendly-houses-with-unique-green-grass-also-big-clear-glass-windows-in-front-of-the-house-environmentally-friendly-houses-garage-design-infront-of-house.jpg" alt="Click here to check the last added houses."/>
        </a>
        <p><a class="btn btn-default" href="#">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apartments</h2>
        <a href="#">
            <img class="img-responsive" src="http://white-pearl.hotelszermatt.net/data/Photos/OriginalPhoto/3507/350701/350701678.JPEG" alt="Click here to check the last added apartments." />
        </a>
        <p><a class="btn btn-default" href="#">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lands</h2>
        <a href="#">
            <img class="img-responsive" src="http://www.papercitymag.com/wp-content/uploads/2016/04/wvv_elton_vineyards_photo_1-932x620.jpg" alt="Click here to check the last added lands." />
        </a>
        <p><a class="btn btn-default" href="#">See more &raquo;</a></p>
    </div>
</div>